<div>
  <h3>Create Lab Technician Account</h3>

  {{#if success}}
        <div class="alert alert-success">Tech account successfully created!</div>
  {{/if}}

  {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
  {{/if}}

  <form action="/admin/create-tech" method="POST">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input class="form-control" type="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input class="form-control" type="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-outline-primary">Create Technician</button>
    </form>

    <a href="/dashboard" class="btn btn-secondary mt-3">Back to Dashboard</a>
</div>