<div>
<h3>Create Lab Technician Account</h3>
<form action="/admin/create-tech" method="POST">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input class="form-control" type="email" name="email" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input class="form-control" type="password" name="password" required>
    </div>
    <div class="mb-3">
        <label for="displayName" class="form-label">Display Name</label>
        <input class="form-control" type="text" name="displayName">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" name="description" rows="2"></textarea>
    </div>
    <button type="submit" class="btn btn-outline-primary">Create Technician</button>

    {{#if success}}
        <div class="alert alert-success">Tech account successfully created!</div>
        <a href="/dashboard" class="btn btn-primary">Dashboard</a>
    {{/if}}
    {{#else}}
    <a href="/dashboard" class="btn btn-outline-primary mb-3">Dashboard</a>
    {{/else}}
</form>
</div>