<h1>Manage Labs</h1>
<div class="container-sm my-5 border">
    <nav class="navbar navbar-expand-sm">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/dashboard/{{_id}}" class="nav-link">
                    Dashboard
                </a>
            </li>
        </ul>
    </nav>

    <!-- create labs -->
    <form action="/create-lab" method="POST">
        <div>
            <label class="form-label" for="startTime">Start Time</label>
            <input class="form-control" type="datetime-local" id="startTime" name="startTime" required>
        </div>

        <div>
            <label class="form-label" for="endTime">End Time</label>
            <input class="form-control" type="datetime-local" id="endTime" name="endTime" required>
        </div>

        <div>
            <label class="form-label" for="seatCount">Number of Seats</label>
            <input class="form-control" type="number" id="seatCount" name="seatCount" min="1" value="20" required>
        </div>

        <button class="btn btn-outline-success mt-3" type="submit">Create Lab</button>
    </form>

    <!-- delete labs -->
    <form action="/delete-lab" method="DELETE">
        <div>
            <label for="lab">Select Lab</label>
            <select class="form-select" id="lab" name="lab"></select>
        </div>

        <button class="btn btn-outline-danger" type="submit">Delete Lab</button>
    </form>
</div>