<h1>Register</h1>
<div class="container">
    <div>
        <form action="/register" method="POST">
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div>
                <label for="accountType">Account Type</label>
                <select id="accountType" name="accountType">
                    <option value="">-- choose an option--</option>
                    <option value="student">Student</option>
                    <option value="tech">Lab Technician</option>
                </select>
            </div>

            <button type="submit">Register</button>
        </form>

        <div>
            <p>Have an account? <a href="/login">Login</a></p>
        </div>
    </div>
</div>